<div *ngIf="loggedIn===false" style="margin-left: 10px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px;" >
    <button type="button" (click)="signInWithGoogle()" class="btn btn-info">Sign In With Google</button>
</div>        
<div *ngIf="loggedIn===true">
    <span style="color:whitesmoke">Logged in as {{user.firstName}} {{user.lastName}} </span>
    <button type="button" (click)="signOut()" class="btn btn-info" 
    style="margin-left: 20px; margin-top: 10px; margin-right: 10px; margin-bottom: 10px;" >Sign Out</button>         
</div>
