<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
      <a class="navbar-brand">{{title}}</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="welcome">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="calculator">Calculators</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="myinvestment">My Investments</a></li>
      </ul>
  </div>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>

