<div class='card'>
    <div class='card-header'>
      {{title}}
    </div>
  <form (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="goalname">Name:</label>
          <input [(ngModel)]='goal.name' [ngModelOptions]="{standalone: true}" class="form-control" id="totinvest" required>
      </div>
      <div class="form-group">
        <label for="goaldate">Target date:</label>
        <input type="date" class="form-control" #myDate [value]="goal.targetDate | date:'longDate'" 
        (input)="goal.targetDate=$event.target.valueAsDate" required>
      </div>
      <div class="form-group">
          <label for="goalamt">Target amount:</label>
          <input [(ngModel)]='goal.targetAmount' [ngModelOptions]="{standalone: true}" class="form-control" 
          id="goalamt" type="number" min="0" max="100000000000" required>
      </div>
      <div class='card-footer'>
        <button class="btn btn-info" >Update</button>
        <a [routerLink]="['/myinvestment/goal']">
            <button type="button" class="btn btn-info" style="margin-left: 20px;">Back</button>
        </a>
      </div>
    </form>
  </div>