<div class='card'>
    <div class='card-header'>
      {{title}}
    </div>
  <form (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="goalname">Name:</label>
          <input [(ngModel)]='goal.name' [ngModelOptions]="{standalone: true}" class="form-control" id="totinvest" required>
      </div>
      <div class="form-group">
        <label for="goaldate">Target date:</label>
        <input type="date" class="form-control" #myDate [value]="targetDate | date:'yyyy-MM-dd'" 
        (input)="targetDate=$event.target.valueAsDate" required>
      </div>
      <div class="form-group">
          <label for="goalamt">Target amount:</label>
          <input [(ngModel)]='targetAmount' [ngModelOptions]="{standalone: true}" class="form-control" 
          id="goalamt" type="number" min="0" max="100000000000" required>
      </div>

      <div class="form-group">
        <label for="goalamt">Linked investments:</label>
          <div *ngFor="let linkedinvestment of linkedInvestments; let i = index" style="margin-left: 10px;">
            <label>
              <input type="checkbox" id={{i}} [(ngModel)]="linkedinvestment.linked" [ngModelOptions]="{standalone: true}" 
              (ngModelChange)="onLinkedInvestmentChange($event)" >
              {{linkedinvestment.investment.name}} - {{linkedinvestment.investment.maturityDate| date:'longDate'}} - {{linkedinvestment.investment.maturityAmount | currency:'INR':'symbol':'1.0-0'}}
            </label>
          </div>
      </div>
      <div class="form-group">
        <label for="goalamt">Current accumulated amount:</label>
        <strong> {{accumulatedAmount | currency:'INR':'symbol':'1.0-0'}}</strong>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" [style.width.%]="goalProgress">
            {{goalProgress}}%
          </div>
        </div> 
      </div>

      <div class="form-group">
        <label for="goalamt">Projected amount:</label>
        <strong> {{projectedAmount | currency:'INR':'symbol':'1.0-0'}}</strong>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" [style.width.%]="projectedProgress">
            {{projectedProgress}}%
          </div>
        </div> 
      </div>
      <div class='card-footer'>
        <button class="btn btn-info" >Update</button>
        <a [routerLink]="['/myinvestment/goal']">
            <button type="button" class="btn btn-info" style="margin-left: 20px;">Back</button>
        </a>
      </div>
    </form>
  </div>